header {
    .nav-container {
        box-shadow: 1px 1px 10px rgb(224, 224, 224);
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    a {
        display: inline-block;
        color: var(--tamsi-spalva);
        line-height: 24px;
        margin-right: 30px;
        transition: color 300ms ease-in-out;
    }

    a:hover {
        color: var(--akcentuojama-spalva);
        
    }   
}

#hero-section-main {

    background-image: url(../assets/img/hero-bg.png);
    background-size: cover;
    width: 100%;
    padding: 200px 0 40px;

    .container .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1* var(--bs-gutter-y));
        margin-right: calc(-.5* var(--bs-gutter-x));
        margin-left: calc(-.5* var(--bs-gutter-x));
    }

    .container .row .column-one {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .container .row .column-one .discount{
        display: inline-block;
        width: 210px;
        background-color: #f8f9fa;
        border: 1px solid #eceff2;
        padding: 2px 15px;
        color: #6c757d;
        border-radius: 3px;
        font-family: "Mandali", sans-serif;
        font-size: 16px;
    }

    .container .row .column-one .discount .green-percent{
        color: var(--akcentuojama-spalva)
    }

    .container .row .column-one .hero-title {
        font-size: 60px;
        color: #343a40;
        line-height: 1.25;
        margin: 0 0 24px;
    }

    .container .row .column-one .small-text {
        box-sizing: border-box;
        color: #6c757d;
        margin: 0 0 48px;

    }

    .container .row .column-one .row-btn {
        display: flex;
    }

    .container .row .column-one .row-btn button {
        background: linear-gradient(to right, #1ce1ac 0%, #8cf1d6 100%);
        color: #fff;
        box-shadow: 0 5px 20px rgba(52, 58, 64, 0.1);
        padding: 8px 24px;
        font-size: 16px;
        border-radius: 30px;
        border: none;
        font-family: "Mandali", sans-serif;
        font-weight: 400;
        cursor: pointer;

    }

    .container .row .column-one .live-link {
        color: #536976;
        transition: none;
    }

    .container .row .column-one .live-link:hover{
        color: #536976;

    }

    .container .row .column-two {
        width: 50%;
        height: auto;
        
    }

    .container .row .column-two .hero-img {
        max-width: 100%;
        height: auto;
    }

    .container .row-brands {
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin-top: 70px 0 16px;
        padding: 70px 50px;
    }

    .container .row-brands .brands {
        height: 38px;
    }
   


}